{% spaceless %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-rtl.min.css" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
</head>
<body>
    <div id="main">
        {% block main %}
            <p>This is just an awesome page.</p>
        {% endblock %}
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
{% endspaceless %}