{% spaceless %}
<script id="users-login-tpl" type="text/html">
<div class="form-group">
    <form>
        <div class="form-control">
            <label for="users-login-email">Username</label>
            <input type="email" id="users-login-email" name="email" value="<%= email %>">
        </div>
        <div class="form-control">
            <label for="users-login-password">Password</label>
            <input type="password" id="users-login-password" class="input-group-lg" name="password">
        </div>
        <input type="button" class="btn bg-primary" value="LOGIN" />
    </form>
</div>
</script>
{% endspaceless %}