{% spaceless %}
<script id="users-login-tpl" type="text/html">
<div class="form-group">
    <form>
        <div class="form-control">
            <label for="users-login-email">Udername</label>
            <input type="email" id="users-login-email">
        </div>
        <div class="form-control">
            <label for="users-login-password">Udername</label>
            <input type="email" id="users-login-password" class="input-group-lg">
        </div>
        <input type="button" class="btn bg-primary" value="LOGIN" />
    </form>
</div>
</script>
{% endspaceless %}